{% extends "theme/theme.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<section class="ponto">
    <div class="container">
        <form action="{{url}}/addponto" method="post">
            <div class="row px-5">
                <div class="col-lg-12 flex-wrap" id="radio-funcs">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioFuncs" id="radioFuncs1"
                            value="Bartolomeu Mustafe">
                        <label class="form-check-label" for="radioFuncs1">Bartolomeu Mustafe</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioFuncs" id="radioFuncs2"
                            value="Marquita Zuleica">
                        <label class="form-check-label" for="radioFuncs2">Marquita Zuleica</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioFuncs" id="radioFuncs3"
                            value="Jeromeu Aguilar">
                        <label class="form-check-label" for="radioFuncs3">Jeromeu Aguilar</label>
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-4">
                    <input type="text" name="passwd" class="form-control" placeholder="Sua senha...">
                </div>
            </div>
            <div class="row mt-5 text-center">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success px-5 fs-5">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}